.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 20rem;
}

.robotCounter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.robotCounter p {
    color: black;
}
