header {
    background-color: #f57e60;
    color: white;
    padding-block: 1rem;
    height: 1rem;
}

.title {
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
}

.list_header {
    list-style: none;
}

.list_header-button {
    background: none;
    border: none;
    color: white;
    margin: 0 0.5rem;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

ul {
    display: flex;
    flex-direction: row;
}

h1 {
    margin-left: 2rem;
    margin-right: auto;
}
