header {
    background-color: #f57e60;
    color: white;
    padding-block: 1rem;
    height: 1rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0rem;
    margin: 0;
}
